<% @events.each do |ue| -%>
  <% next if ue.event.blank? %>
  <%= "<div 'main_event_container_div' id='main_event_container_#{@events.index(ue)}' style='display:#{@events.index(ue) == 0 ? 'block' : 'none'}'>" %> 
  <%= "<div class='flyer_div' id='flyer_#{@events.index(ue)}'>" %>
    <%= "<img src='#{ue.event.flyer.file_path}#{ue.event.flyer.filename}' />" %> 
  <%= "</div>" %>    
  <%= "<div class='main_event_info' id='event_info_#{@events.index(ue)}' >" %>
  <div class='info_container'>
    <table class='info_table'>
      <tr>
        <td>
          <span style="<%= ue.event.translate_to_css('name', nil)%>">
            <%= ue.event.event_name %>
          </span>
          <br />
          <span style="<%= ue.event.translate_to_css('start_date', nil)%>">
          <%= ue.event.event_start_date.strftime('%B %d, %Y')%>
          </span>
          <br/>
          <span style="<%= ue.event.translate_to_css('start_time', nil)%>">
          <%= "Starting: #{ue.event.event_start_time.strftime('%I%P')} " %>
          </span>
        </td>
        <td>
          <span style="<%= ue.event.translate_to_css('notes', 1)%>">
				            <%= "#{ue.event.event_notes1_label} <br/>" if ue.event.event_notes1_label %>
				            <%= ue.event.event_notes1 %>
          </span>
			     </td>
      </tr>
		    <tr><td class='info_table_spacer'></td></tr>
      <tr>
        <td>
          <span style="<%= ue.event.translate_to_css('venue', nil)%>">
          <%= ue.event.event_venue %>
          </span>
          <br/>
          <span style="<%= ue.event.translate_to_css('address', nil)%>">
          <%= ue.event.event_address %>
          </span>
        </td>
        <td>
          <span style="<%= ue.event.translate_to_css('notes', 2)%>">
				            <%= "#{ue.event.event_notes2_label} <br/>" if ue.event.event_notes2_label %>
				            <%= ue.event.event_notes2 %>
          </span>
			     </td>
      </tr>
    </table>
  </div>
  <%= "</div>" %>
  <div class='clear'></div>
  <%= "</div>" %>
<% end -%>
