<div id='newsletter_title' class='section_title'>NEWS<B>LETTER</B></div>
<div id='newsletter_body'>
  <div id='newsletter_text'>
     <div>FOR OUR NEWSLETTER<br/>
     & BIRTHDAY SPECIALS!</div>
  </div>
  <div class='clear'></div>
  <div id='newsletter_form'>
  <% form_remote_tag(:html => {:id => 'newsletter_form_submit', :name => 'newsletter_form'}, :url => {:controller => 'access', :action => :request_newsletter}, :update => 'update') do -%>
    <table class='newsletter_form_layout'>
      <tr>
        <td style='width:65px;' >Email:</td>
        <td colspan=2><%= text_field_tag :email_address %></td>
      </tr>
    </table>
    <table class='newsletter_form_layout>'>
      <tr><td colspan=2>Birthday (mm/dd/yy):</td></tr>
		    <tr>
        <td id='birthday_text'>
		        <%= text_field_tag :birthday_mon %> -
          <%= text_field_tag :birthday_dy %> -
          <%= text_field_tag :birthday_yr %>
		      </td>
		      <td id='td_button'><div id='button'><div id='spacer'></div><a href='javascript:submitNewsletter()'>SUBMIT</a></div></td>
       </tr>
     </table>
     <%= hidden_field_tag :request_type, 'newsletter' %>
	<% end -%>
  </div>
</div>
