<%= javascript_include_tag 'upcoming_events' %>
<script type="text/javascript">
animatedcollapse.addDiv('asian_events', 'fade=0,speed=400,group=pets')
animatedcollapse.addDiv('mixed_events', 'fade=0,speed=400,group=pets,persist=1,hide=1')
animatedcollapse.ontoggle=function($, divobj, state){ //fires each time a DIV is expanded/contracted
}

animatedcollapse.init()
</script>

<div id='asian_container'>
  <a href="javascript:animatedcollapse.show('asian_events')"><img src="images/asianevents1.png" border="0" style="background-color:#191919;"/></a>

  <div id="asian_events">
    <table class='event_table'>
	  <% @upcoming_asian_events.each do |uae| -%>
        <% next if uae.event.blank? %>
 	    <%= "<tr><td onClick='toggleEvent(#{@upcoming_events.index(uae)}, #{@upcoming_events.size})' onMouseOut=\"style.backgroundColor='transparent'\" onMouseOver=\"style.backgroundColor='#aeaeae'\">" %>
        <%= "<div class='event_img_div' id='asian_img_#{@upcoming_events.index(uae)}>'" %>
        <%= "<img class='event_thumb' src='#{uae.event.flyer.file_path}/#{uae.event.flyer.filename}' />"%>
        <%= "</div>" %>
        <%= "<div class='event_info_div' id='asian_event_name'>"%>
		<%= "<div class='event_info_date'>#{uae.event.event_start_time.strftime('%a %b %d')}</div>" %>
        <%= "<div class='event_info_name'>#{uae.event.event_name}</div>" %>
        <%= "</div>"%>
		<div class='clear'></div>
	    <%= "</td></tr>" %>
      <% end -%>
	</table>
  </div>
</div>

<div id='mixed_container'>
  <a href="javascript:animatedcollapse.show('mixed_events')"><img src="images/mxedevents1.png" border="0" style="background-color:#4D2A46;" /></a>
  <div id="mixed_events">
    <table class='event_table'>
	  <% @upcoming_mixed_events.each do |ume| -%>
        <% next if ume.event.blank? %>
 	    <%= "<tr><td onClick='toggleEvent(#{@upcoming_events.index(ume)}, #{@upcoming_events.size})' onMouseOut=\"style.backgroundColor='transparent'\" onMouseOver=\"style.backgroundColor='#aeaeae'\">" %>
        <%= "<div class='event_img_div' id='asian_img_#{@upcoming_events.index(ume)}>'" %>
        <%= "<img class='event_thumb' src='#{ume.event.flyer.file_path}/#{ume.event.flyer.filename}' />"%>
        <%= "</div>" %>
        <%= "<div class='event_info_div' id='asian_event_name'>"%>
		<%= "<div class='event_info_date'>#{ume.event.event_start_time.strftime('%a %b %d')}</div>" %>
        <%= "<div class='event_info_name'>#{ume.event.event_name}</div>" %>
        <%= "</div>"%>
		<div class='clear'></div>
	    <%= "</td></tr>" %>
      <% end -%>
	</table>
  </div>
</div>
