<div id="div-1">
  <div id="index_body_left">
    <div id="newsletter_container"><%= render :partial => "news_letter" -%></div>
    <div id="upcoming_event_container"><%= render :partial => "upcoming_events" -%></div>
  </div>
  <div id="index_body_middle">
    <div id="mainarea"><%= render :partial => "main_area" -%></div>
  </div>
  <div id='index_body_right'>
    <div id="schedule_event"><%= render :partial => "schedule_event" -%></div>
    <div id="thumbnail_gallery" ><%= render :partial => "thumbnail_container" -%> </div>
    <div id="sponsors_affiliate_wrapper"><%= render :partial => "sponsors_affiliates_container" -%></div>
  </div>
  <div class='clear'></div>
</div>
