<div id='media_main_container'>
  <div id='feature_media_container' class='media_header_style'>
    <span class='title'>IMAGE GALLERY</span>
    <% if @feature_gallery -%>
      <input id='feature_media_id' type='hidden' value='<%= @feature_gallery.id%>'>
      <div id='feature_media_text' class='text_container'>
        <% if @feature_gallery.gallery_logo -%>
          <img src='<%= @feature_gallery.gallery_logo.logo_path + "/" + @feature_gallery.gallery_logo.logo_file_name %>'/>
        <% end -%>
        <span id='feature' class='top' >FEATURE</span>
        <span id='nightclub' class='bottom'>NIGHTCLUB</span>
        <div class='text'><%= @feature_gallery.description_long %></div>
      </div>
      <% if @feature_gallery.get_media_image -%>
        <div id='feature_media_img' class='main_img'>
          <img src='<%= @feature_gallery.get_media_image.image_path + "/" + @feature_gallery.get_media_image.image_filename %>'/>
        </div>
      <% end -%>
    <% end -%>
  </div>
  <div id='media_selector_container'>
    <div id='left_selector'></div>
    <div id='media_content_container'>
      <ul>
      <% @galleries.each do |g| -%>
        <li>
        <div id='content_<%= g.id -%>' class='media_content'>
          <div id='content_<%= g.id-%>_img'>
            <% if g.gallery_logo -%>
              <div id='media_banner_<%= g.id-%>' class='media_banner'>
                <img src='<%= g.gallery_logo.logo_path + "/" + g.gallery_logo.logo_file_name %>'/>
              </div>
            <% end -%>
            <% if g.get_media_image -%>
              <img class='main_img' src='<%= g.get_media_image.image_path + "/" + g.get_media_image.image_filename %>'/>
            <% end -%>
          </div>
          <div id='content_1_text' class='media_content_text'>
            <div class='text'><%= g.description_short %></div>
          </div>
        </div>
        </li>
      <% end -%>
      </ul>
    </div>
    <div id='right_selector'></div>
  </div>
  <div class='clear'></div>
</div>
<script>
  jQuery.noConflict; 
  jQuery(document).ready(function() {
    MediaSetup.init('Galleries')
  });
</script>
