<div id='media_image_container' >
  <div id='media_image_title_container' class='media_header_style'>
    <span class='title'>IMAGE GALLERY</span>
    <div id='gallery_text' class='text_container'>
      <img src='<%= @gallery.gallery_logo.logo_path + "/" + @gallery.gallery_logo.logo_file_name %>'/>
      <span id='feature' class='top' >GALLERY</span>
      <span id='nightclub' class='bottom'>IMAGES</span>
      <div class='text'><%= @gallery.description_long %></div>
    </div>
    <div id='gallery_main_img' class='main_img'>
      <img src='<%= @gallery.get_media_image.image_path + "/" + @gallery.get_media_image.image_filename %>'/>
    </div>
  </div>
  <div id='image_selector_container'>
    <div id='left_selector'></div>
    <div id='media_content_container'>
      <ul>
      <% @gallery_images.each do |gi| -%>
        <li>
        <div id='images_<%= gi.id -%>' class='media_content' style='margin-top:50px'>
          <div id='images_<%= gi.id-%>_img'>
            <img class='main_img' src='<%= gi.image_path + gi.image_filename %>'/>
          </div>
        </div>
        </li>
      <% end -%>
      </ul>
    </div>
    <div id='right_selector'></div>
  </div>
  <div class='clear'></div>
</div>
<script>
  jQuery.noConflict; 
  jQuery(document).ready(function() {
    MediaSetup.init('Images')
  });
</script>
