<script>
  jQuery.noConflict();
  function changeLabel(id) {
    alert(self.value);
    //document.getElementById(id).innerHTML = self.value;
  }

  //jQuery('#event_name').keyup(changeLabel('a'));
</script>
<% @title=@method + ' Event' %>

<%= link_to 'List Events', :controller => 'event', :action => 'index' %>
<br/>
<%= link_to 'Scehdule Upcoming Events', :controller => 'event', :action => 'index' %>
<br/>
<span class='non_link'><%= @method %> Event</span>
<div id='create_event_container'>
  <div id='form_container'>
    <%= form_tag '/admin/event/create', :multipart => true %>
	  <table id='form_table'>
        <tr>
          <td>Event Name:</td>
          <td><%= text_field_tag :event_name, @event.event_name if @event %></td>
        </tr>
        <tr>
          <td>Venue:</td>
          <td><%= text_field_tag :venue, @event.venue if @event %></td>
        </tr>
        <tr>
          <td>Address:</td>
          <td><%= text_field_tag :event_address, @event.event_address if @event %></td>
        </tr>
        <tr>
          <td>Start Time:</td>
          <td><%= text_field_tag :event_start_time, @event.event_start_time if @event %></td>
        </tr>
        <tr>
          <td>Flyer:</td>
          <td><%= file_field 'flyer', 'datafile' %></td>
        </tr>
        <tr>
          <td>Note Label 1:</td>
          <td><%= text_field_tag :event_notes1_label, @event.event_notes1_label if @event %></td>
        </tr>
        <tr>
          <td>Notes 1:</td>
          <td><%= text_field_tag :event_notes1, @event.event_notes1 if @event %></td>
        </tr>
        <tr>
          <td>Note Label 2:</td>
          <td><%= text_field_tag :event_notes2_label, @event.event_notes1_label if @event %></td>
        </tr>
        <tr>
          <td>Notes 2:</td>
          <td><%= text_field_tag :event_notes2, @event.event_notes2 if @event %></td>
        </tr>
        <tr>
          <td>Note Label 3:</td>
          <td><%= text_field_tag :event_notes3_label, @event.event_notes3_label if @event %></td>
        </tr>
        <tr>
          <td>Notes 3:</td>
          <td><%= text_field_tag :event_notes3, @event.event_notes3 if @event %></td>
        </tr>
        <tr>
          <td colspan=2><%= submit_tag 'Sumbit' %></td>
        </tr>
      </table>
  </div>
  <div id='preview_container'>
    <div id='preview_label'>Preview</div>
    <div id='main_event_container_div'> 
      <div class='flyer_div'>
        <img src='<%= @event.flyer.file_path + '/' + @event.flyer.filename if @event %>' /> 
      </div>    
      <div class='main_event_info' >
	    <img src='/images/event_main_title.jpg' />
        <div class='info_container'>
          <table class='info_table'>
          <tr>
            <td>
               <label id='p_start_date'><%= @event.event_start_time.strftime('%m/%d/%Y') if @event.event_start_time if @event %></label>
               <br/>
               <label id='p_start_time'><%= @event.event_start_time.strftime('%t') if @event.event_start_time if @event %></label>
             </td>
          </tr>
		  <tr><td class='info_table_spacer'></td></tr>
          <tr>
            <td>
	          <label id='p_venue'><%= @event.venue  if @event %></label>
              <br/>
	          <label id='p_address'><%= @event.venue if @event %></label>
            </td>
          </tr>
		  <tr><td class='info_table_spacer'></td></tr>
          <tr>
            <td>
				 <label id='p_notes1_label'><%= @event.event_notes1_label if @event  %></label><br/>
	             <label id='p_notes1'><%= @event.event_notes1 if @event  %></label>
			</td>
          </tr>
		  <tr><td class='info_table_spacer'></td></tr>
          <tr>
            <td>
				 <label id='p_notes2_label'><%= @event.event_notes2_label if @event  %></label><br/>
	             <label id='p_notes2'><%= @event.event_notes2 if @event  %></label>
			</td>
          </tr>
		  <tr><td class='info_table_spacer'></td></tr>
          <tr>
            <td>
				 <label id='p_notes3_label'><%= @event.event_notes3_label if @event  %></label><br/>
	             <label id='p_notes3'><%= @event.event_notes3 if @event  %></label>
			</td>
          </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='clear'></div>
