<script type="text/javascript" src="/javascripts/scriptaculous.js"></script>
<script type="text/javascript">
function addImageToSlideshow(id) {
  $.ajax({
      url: '/admin/gallery/add_image_to_slideshow/'+id,
      success: function(msg) {
         $('#add_image_'+id).hide();
         $('#remove_image_'+id).show();
      }
  });
}

function removeImageFromSlideshow(id) {
  $.ajax({
      url: '/admin/gallery/remove_image_from_slideshow/'+id,
      success: function(msg) {
         $('#add_image_'+id).show();
         $('#remove_image_'+id).hide();
      }
  });
  
}

function editComment(id) {
  $('#edit_comment_'+id).hide();
  $('#comment_locked_'+id).hide();
  $('#save_comment_'+id).show();
  $('#comment_unlocked_'+id).show();
}

function saveComment(id) {
  $.ajax({
      url: '/admin/gallery/edit_comment/' + id,
      data: 'comment=' + $('#new_comment_'+id).val(),
      success: function(msg) {
          $('#comment_locked_'+id).html(msg);
          $('#edit_comment_'+id).show();
          $('#comment_locked_'+id).show();
          $('#save_comment_'+id).hide();
          $('#comment_unlocked_'+id).hide();
      }
  });
}
</script>
<div id='gallery_images_partial_div'>
  <h1><%= title -%></h1>
  <table>
    <tr>
      <th>Gallery Name</th>
      <th>Filename</th>
      <th>Comments</th>
      <th>In Slideshow?</th>
      <th>Delete Image</th>
      <th>Edit Comment</th>
      <th>View Image</th>
    </tr>
    <% slideshow.each do |ss| -%>
      <tr>
        <td><%= ss.gallery.name -%></td>
        <td><%= ss.image_filename -%></td>
        <td>
            <div id='comment_locked_<%= ss.id -%>'><%= ss.image_comments -%></div>
            <div id='comment_unlocked_<%= ss.id -%>' style='display:none' ><input id='new_comment_<%= ss.id -%>' type='text' value='<%=ss.image_comments -%>'></div>
        </td>
        <td>
            <div id='add_image_<%= ss.id -%>' style='display:<%= ss.is_slideshow_image ? 'none' : 'block' -%>;'><a href='javascript:addImageToSlideshow(<%= ss.id -%>)'>Add Image to Slideshow</a></div>
            <div id='remove_image_<%= ss.id -%>' style='display:<%= ss.is_slideshow_image ? 'block' : 'none' -%>;' ><a href='javascript:removeImageFromSlideshow(<%= ss.id -%>)'>Remove Image from Slideshow</a></div>
        </td>
        <td><%= link_to "Delete", :action => "delete_image", :id => ss.id, :load_page => action -%></td>
        <td>
            <div id='edit_comment_<%= ss.id -%>'><a href='javascript:editComment(<%= ss.id -%>)'>Edit Comment</a></div>
            <div id='save_comment_<%= ss.id -%>' style='display:none' ><a href='javascript:saveComment(<%= ss.id -%>)'>Save Comment</a></div>
        </td>
        <td><a href="javascript:viewImage('<%= "#{ss.image_path}/#{ss.image_filename}"-%>')">View</a></td>
      </tr>
    <% end -%>
  </table>
</div>
