<html>
  <head>
    <%= stylesheet_link_tag "admin/layout" %>
    <%= stylesheet_link_tag "admin/index" %>
    <%= stylesheet_link_tag "admin/create" %>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'jquery-1.4.4' %>
  </head>
  <body>
    <div id='main_container'>
      <div id='admin_title'>
		<div id='logo_div'><img src='/images/access_logo.png' /></div>
        <div id='title_div'>Access Nightlife Admin</div>
      </div>
	  <div class='clear'></div>
      <div id='admin_nav'>
        <a href='/admin/event'>Event</a> | 
        <a href='/admin/event'>Gallery</a> | 
        <a href='/admin/event'>Users</a> | 
        <a href='/admin/event'>Subscriptions</a> | 
      </div>
      <div id='admin_body'>
	    <div id='admin_frame_top'></div>
	    <div id='admin_frame_middle'>
		   <div id='title'><%= @title %></div>
           <%= yield %>
        </div>
	    <div id='admin_frame_bottom'></div>
      </div>
    </div>
  </body>
</html>
